<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/header :: head}">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="~{/fragment/SideBar :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center mb-5">
                <div class="card w-75 d-flex justify-content-center align-items-center p-5 shadow">
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <h2>Edit Service</h2>
                    <form class="w-75" th:action="@{/admin/edit-pet-service/{id}(id=${id})}"
                          th:object="${petServiceEditRequest}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input type="text" class="form-control" th:field="*{name}"
                                   placeholder="Enter pet service name" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" th:field="*{price}"
                                   placeholder="Enter pet service price" required>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" th:field="*{description}"
                                      rows="3"
                                      placeholder="Enter pet service description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="avatar" class="form-label">Image</label>
                            <div class="row">
                                <div class="col-3">
                                    <img th:src="${petServiceEditRequest.image != null ? petServiceEditRequest.image : '/img/no-avatar.png'}"
                                         alt="Image"
                                         style="width: 70px; height: 70px;">
                                </div>
                                <input class="col-8 form-control" type="file" th:field="*{imageFile}"
                                       id="avatar">
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Edit Service</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="~{/fragment/Script :: scripts}"></div>

</body>

</html>
